@model IEnumerable<SGVendas.Domain.Entities.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["Sucesso"]
    </div>
}


<h2>Cadastro de Clientes</h2>

<p>Total de registros: @ViewBag.Total</p>


<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text"
               name="filtro"
               value="@ViewBag.Filtro"
               class="form-control"
               placeholder="Pesquisar cliente por nome, CPF ou CNPJ" />

        <button type="submit" class="btn btn-primary">
            Pesquisar
        </button>

        @if (!string.IsNullOrEmpty(ViewBag.Filtro))
        {
            <a asp-action="Index" class="btn btn-secondary">
                Limpar
            </a>
        }
    </div>
</form>




<p>
    <a asp-action="Criar" class="btn btn-primary">Novo</a>
</p>






<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClienteID</td>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td>@item.Telefone</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.ClienteID">Editar</a> |
                    <a asp-action="Excluir" asp-route-id="@item.ClienteID"
                       onclick="return confirm('Confirma exclusão?')">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
